.window {
    position: absolute;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 12px lightgray;
}

.title-bar {
    background: #ddd;
    padding: 5px;
    cursor: move;
}

.content {
    padding: 10px;
}

.resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    cursor: se-resize;
}
